/*-----------------------diyaarin Bilow---------------------------------------*/
:root {
  /*---colors----*/
  --main-color_admin: #191C24;
  --color-1: #000000;
  --color-2: #0090E7;
  --color-3: #00D25B;
  --color-4: #8F5FE8;
  --color-5: #FC424A;
  --colo-6: #FFAB00;
  --color-7: #12151E;
  --color-8: #B71761;
  --color-9: #014c99;
  --cadaan: #ffffff;
  --cawlaan: #e2e2e2;
  --main_colo-2: #f9fafd;
  --madaw_color: #313a46;
  

  /*---size_ciwaano and Qoraal----*/
  --ciwaan1aad: 45px;
  --ciwaan1-5aad: 40px;
  --ciwaan2aad: 45px;
  --ciwaan3aad: 42px;
  --ciwaan4aad: 35px;
  --ciwaan5aad: 33px;
  --ciwaan6aad: 30px;
  --ciwaan7aad: 28px;
  --ciwaan8aad: 25px;
  --ciwaan9aad: 22px;
  --ciwaan10aad: 20px;
  --ciwaan11aad: 19px;
  --ciwaan12aad: 18px;
  --ciwaan13aad: 16px;
  --ciwaan14aad: 15px;
  --ciwaan15aad: 12px;
  --ciwaan16aad: 10px;
  --ciwaan18aad: 8px;
  --ciwaan19aad: 6px;
  --ciwaan20aad: 4px;
  --ciwaan21aad: 2px;
  --ling-1aad: 1.9;
  --ling-2aad: 1.6;
  --ling-3aad: 1.4;
}

/*------fonts ---------------*/
@font-face {
  font-family: "khad";
  src: url(/src/Statics/Fonts/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--main_colo-2);
  position: relative;
}

body h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-family: "khad";
  user-select: none;
}

p {
  text-transform: capitalize;
  line-height: var(--ling-1aad);
  font-family: "khad";
}

button {
  user-select: none;
}

body a {
  text-decoration: none;
  user-select: none;
}

body a:hover {
  text-decoration: none;
}

.xajiye {
  max-width: 1450px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
/*-----------------------diyaarin dhamaad-----------------------------------*/




/*------------- str top nav -----------------------------------*/
.Tob_nav{
  width: 100%;
  height: 100px;
  background-color: var(--main-color_admin);
}

/*------------- end top nav -----------------------------------*/

/*--------all median -------------------------------*/

@media (min-width: 100px) and (max-width: 460px) {
  .sliding .tranding_haye .card_template{
    height: 100%;
    margin-bottom: 2%;
  }

  .sliding .tranding_haye .card_template .btn_shaqo{
    width: 100% !important;
  }

  div.xaalad1aad .rasiid_tamplate.xaalad{
    width: 100%;
  }

  .sliding .tranding_haye .card_template .macluumaad .qoraalo h2, P{
    margin: 5% 0px;
    line-height: 1.6;
  }

  .qayb_name .qayb_name_page ul{
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 576px) {
  .xajiye,
  .haye {
    max-width: 540px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
    .xajiye{
      max-width: 100%;
    }
    .haye {
      max-width: 540px;
    }

}


@media (min-width: 768px) and (max-width: 991px) {
    .xajiye{
      max-width: 100%;
    }
    .haye {
      max-width: 720px;
    }

}
@media (min-width: 992px) and (max-width: 1200px) {
    .xajiye{
      max-width: 100%;
    }
    .haye {
      max-width: 960px;
    }
}
@media (min-width: 1200px) and (max-width:1400px) {
    .xajiye{
      max-width: 100%;
    }
    .haye {
      max-width: 1140px;
    }
}
@media (max-width: 1400px) {
    .xajiye{
      max-width: 100%;
    }
    .haye {
      max-width: 1320px;
    }
}
/*-------------- dhamaadka  all media -----------------*/
